.case {
	position: relative;
}

.case-title {
	font-family: "Exo2-Bold";
	font-size: 2em;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
}

.case-desc {
	font-family: "Exo2-Regular";
	font-size: 1.2em;
	min-height: 250px;
	margin-bottom: 30px;
	padding: 30px;
	background-color: var(--desc-bg-color);
	border-radius: 10px;
	color: #fff;
}

.case-footer {
	font-family: "Exo2-Regular";
	font-size: 1.1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 10px;
}

.case-status.green {
	color: #00ff04;
}

.case-status.red {
	color: #ff0000;
}
